<%- include('layout/header') %>
<div class="container-fluid">
  <div class="row" id="items"></div>
</div>
<script id="template_item" type="text/template7">
  <div class="col-12 col-md-4 col-lg-3 col-item text-center" data-action="{{action}}" data-quality="{{quality}}">
    <div class="card text-white bg-dark">
      <div class="card-header color-{{quality}}">{{action}}: {{name}} ({{level}})</div>
      <div class="card-body">
        <ul class="stats">
          <li class="color-gray">
            {{timestamp}}
          </li>
          <li class="color-gray">
            {{profile}}
          </li>
          {{#each stats}}
            {{#if @first}}{{else}}
            <li>
              {{this}}
            </li>
            {{/if}}
          {{/each}}
          <li class="color-gray">
            Area: {{area}}{{#if isRecipe}} (Cubing){{/if}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/moment.js"></script>
<script src="/template7.min.js"></script>
<script src="/app.js"></script>
<%- include('layout/footer') %>
