{%- layout 'layout/default' -%}
{% block content %}
  <div class="container-fluid">
    <div class="item-list" id="items">Don't worry, your items will appear here soon</div>
  </div>
  {%- include 'partials/item_template' -%}
{%- endblock -%}
