{%- layout 'layout/default' -%}
{% block content %}
  <div class="container-fluid">
    <div class="filter-panel mb-3">
      <div class="filter-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for quality in gameData.itemQualities %}
          <label class="btn btn-sm btn-quality btn-quality-{{ quality }} active" data-tippy-content="Toggle {{ quality }}">
            <input type="checkbox" name="quality-{{ quality }}" id="btn-quality-{{ quality }}" autocomplete="off" checked />
            <span class="label-active font-serif">✓</span>
            <span class="label-inactive font-serif">&nbsp;</span>
          </label>
          {% endfor %}
        </div>
        <div class="filter-group form-inline">
          <input type="date" class="form-control form-control-sm" placeholder="Date" data-tippy-content="Date" />
        </div>
      </div>
    </div>
    <div class="item-list" id="items"></div>
  </div>
  {%- include 'partials/item_template' -%}
{%- endblock -%}
