.appbar {
  position: sticky;
  top: 0;
  background-color: $appbar-bg;
  margin-bottom: 1rem;
  & .appbar-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    h1.brand {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: normal;
      margin: 0;
    }
  }
}
