@font-face {
  font-family: 'd2';
  src: URL('../fonts/Exocet2.ttf') format('truetype');
}

html, body {
  font-size: 1rem;
  font-family: $font;
  background: $body-bg;
  color: $body-color;
}

.font-d2 {
  font-family: 'd2';
}
.ff-normal {
  font-family: $font !important;
}
.font-serif {
  font-family: serif !important;
}

// colors
@each $quality, $color in $quality-colors {
  .color-#{$quality} {
    color: $color;
  }
}

.color-gray {
  color: $gray-600;
}
.fz-14 {
  font-size: 14px;
}

.mod-blue {
  color: $q-magic;
}
.mod-red {
  color: #e47268;
}

.page-item {
  .page-link {
    min-width: 1.75rem;
  }
  a.page-link {
    background: $gray-800;
    color: $body-color;
    border-color: $gray-700;
    &:hover {
      background: $gray-600;
      color: white;
    }
  }
  &.disabled .page-link {
    color: darken($body-color, 10%);
    background: $gray-800;
    border-color: $gray-700;
  }
}
