.items {
  display: flex;
  flex-wrap: wrap;
}
.item {
  margin-right: 1rem;
  margin-bottom: 1rem;
  background: $appbar-bg;
  display: inline-block;
  .item-base {
    padding: .5rem 1rem;
  }
}

.item-detail {
  text-align: center;
  .title {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid lighten(black, 20%);
    padding-bottom: .25rem;
  }
  .stats {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: .25rem;
      &.s {
        border-bottom: 1px solid lighten(black, 20%);
        padding-bottom: .5rem;
      }
      &.st {
        border-top: 1px solid lighten(black, 20%);
        padding-top: .5rem;
        margin-top: .25rem;
      }
      &.info {
        display: flex;
        justify-content: space-between;
      }
      b {
        color: $white;
      }
    }
  }
}
