.item-list {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 100%;
    margin-bottom: 1rem;
    padding: .25rem .5rem;
    background: $appbar-bg;
    border: 1px solid transparent;
    &.item-hr {
      border-color: $q-rune;
    }
    .title, .time {
      display: flex;
      justify-content: space-between;
    }
  }
  @include media-breakpoint-up(md) {
    .item {
      display: inline-block;
      width: auto;
      margin-right: 1rem;
      padding: .5rem 1rem;
      .title, .time {
        display: block;
      }
    }
  }
}

.item-detail {
  text-align: center;
  padding: 1rem;
  border: 1px solid transparent;
  &.item-hr {
    border-color: $q-rune;
  }
  .title {
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 1px solid lighten(black, 20%);
    padding-bottom: .25rem;
  }
  .stats {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: .25rem;
      &.s {
        border-bottom: 1px solid lighten(black, 20%);
        padding-bottom: .5rem;
      }
      &.st {
        border-top: 1px solid lighten(black, 20%);
        padding-top: .5rem;
        margin-top: .25rem;
      }
      &.info {
        display: flex;
        justify-content: space-between;
      }
      b {
        color: $white;
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
