// bootstrap overrides
$enable-rounded: false;
$blue: #24568b;
$green: #2b863f;
$yellow: #b38b13;
$red: #971320;
$btn-border-width: 0;

$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$body-bg: #141619;
$body-color: #b1b1b1;

$appbar-bg: #1F262D;
$dropdown-bg: #363e46;
$dropdown-bg-hover: lighten($dropdown-bg, 5%);
$dropdown-bg-active: darken($dropdown-bg, 5%);
$dropdown-divider: #787d82;

// item quality

$q-lowquality: $body-color;
$q-magic: #8c8eff;
$q-normal: #fff;
$q-rare: #ffe499;
$q-set: #00c400;
$q-unique: #dba378;
$q-crafted: #ffa0fc;
$q-rune: #f0a401;
$q-runeword: lighten($red, 15%);

$quality-colors: (
  'lowquality': $q-lowquality,
  'normal': $q-normal,
  'superior': $q-normal,
  'magic': $q-magic,
  'rare': $q-rare,
  'set': $q-set,
  'unique': $q-unique,
  'crafted': $q-crafted,
  'rune': $q-rune,
  'runeword': $q-runeword,
);
